<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>Page Not Found</title>
</head>
<body>
  <div layout:fragment="header-container"></div>

<div layout:fragment="content" class="container">
  <div class="main-body--wrapper">
    <div class="error-page">
      <!--<img src="/img/404-icon.png">-->
      <div class="error-title">Page not found</div>
    </div>
  </div>
</div>

</body>
</html>
