<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout"
    data-platform-downloads data-hero-banner>
  <head>
    <title>Tec-Stack</title>
    <!-- http://opengraphprotocol.org/ -->
    <meta property="og:title" content="tec-stack" />
    <meta property="og:description" content="Tutorials, guides and blogs for all the technology enthusiasts" />
  </head>
  <body>
    <div layout:fragment="header-container"></div>
    <div layout:fragment="full-width--layout">
      <div class="homepage--body">
        <h1>Tec-Stack</h1>

        <section class="offset-feature--wrapper">
          <div class="offset-feature--container feature-guides">
            <div class="container-fluid">
              <div class="row-fluid feature--content">
                <div class="span8 mobile-left-pane">
                  <div class="offset-feature--title">Guides</div>
                  <div class="offset-feature--text">
                    Quick GitHub backed guides, showing a fast-browsable practical aspects of a given technology.
                  </div>
                  <a href="/guides" class="offset-feature--link">
                    Browse the Guides
                    <i class="icon-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>


        </section>


      </div>
    </div>
    <div layout:fragment="content"></div>
  </body>
</html>
